---
name: sonar-release
# This workflow is triggered when publishing a new github release
# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    uses: SonarSource/gh-action_release/.github/workflows/main.yaml@22cded87a58ad248b24669e05da2fb34ce7c699e # 5.19.0
    with:
      publishToBinaries: false
      mavenCentralSync: true
